body {background: linear-gradient(271deg, #d3d3d3, #f3f3f3);}
section a,section h1,section h2 {margin: 0;}
section {
    height: calc(100vh - 2vh);
    display: flex;}
section div {
    padding: 3em;
    width: 50%;
    margin: 0 auto;
    padding-top: 200px;
}
section div img {width: 300px;}
section .left {text-align: right;background: linear-gradient(271deg, #d3d3d3, #f3f3f3)}
section .right {text-align: left; background:linear-gradient(272deg, #000000ef,#000000ba);}
section .right h1 {color:white;margin-bottom: 1em;}
section .right h2,h3 {color:#efefef;margin: 1em 0 .3em 0;}
section .right p,.right h3 {color:#bebebe;}
@media (max-width: 800px) {
    section {flex-direction: column;height: auto;}
    section div {width: 100%;}
    section .right,section .left {text-align: left;padding: 3em;padding-top: 100px;}
}