/*GLOBALS STYLES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    color: #c8e7eb;
    background-color: #3c5180;
}
.white {color: #fff;}
q,h2, h3 {color:#292929;}
p {color:#454545;}
h1 {
    margin: .5em;
    font-size: 3.2em;
    font-weight: 400;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Courier New', Courier;
}
h2, h3 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Courier New', Courier;
    text-transform: uppercase;
}
a {
    margin: 2em;
    color: #6d6d6d;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 0px 1px #ffffff2f;
}
a:hover {color: red;}
.current::after {
    left: -10%;
    top: 10%;
    content: "";
    position: absolute;
    background: red ;
    height: 80%;
    width: 3px;
}
main {
    margin: auto;
    position: relative;
}
/*NAVBAR / LOGO  STYLES*/
header {
        z-index: 4;
        position: fixed;
    width: 100%;
    padding: 2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    margin: 0 3em;
    height: 70px;
    width: 70px;
}
footer {
    text-align: center;
    width: 100%;
    padding: 5em 5%;
    background: linear-gradient(270deg, #000, #000000c5);
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer h1, footer h2, footer a {margin: 0px;}
footer h1 {margin: 1em;}
footer div {
    margin: 1em 0;
    display: flex;
    align-items: center;
}
footer div img {
    height: 25px;
    width: 25px;
    margin: 0 .2em;
}

.author {text-align:center;color: #2020202f;font-size: 14px;}